{
    "Dhcp4": {
        "valid-lifetime": 500,
        "renew-timer": 100,
        "rebind-timer": 250,
        "server-tag": "all",
        "interfaces-config": {
            "interfaces": [
{% for interface in interfaces %}
                "{{ interface }}"{{ ", " if not loop.last else "" }}
{% endfor %}
            ],
            "dhcp-socket-type": "udp",
            "outbound-interface": "use-routing"
        },
        "expired-leases-processing": {
            "reclaim-timer-wait-time": 3,
            "flush-reclaimed-timer-wait-time": 0,
            "hold-reclaimed-time": 3600,
            "max-reclaim-leases": 100,
            "max-reclaim-time": 50,
            "unwarned-reclaim-cycles": 10
        },
        "host-reservation-identifiers": [
            "hw-address",
            "duid"
        ],
        "control-socket": {
            "socket-type": "unix",
            "socket-name": "/tmp/kea4-ctrl-socket"
        },
        "subnet4": [
{% for subnet in dhcp_subnets.json %}
            # {{ subnet.name }}
            {
                "subnet": "{{ subnet.subnet }}",
                "id": {{ subnet.id }},
                "pools": [
{% for range in subnet.ranges %}
                    {
                        "pool": "{{ range.start }} - {{ range.end }}"
                    }{{ ", " if not loop.last else "" }}
{% endfor %}
                ],
                "option-data": [{
                        "name": "routers",
                        "data": "{{ subnet.gateway }}"
                    },
                    {
                        "name": "domain-name-servers",
                        "data": "{{ subnet.dns_servers|join(",") }}"
                    }
                ],
                "reservations": [
{% for host in subnet.hosts %}
{% if host.mac_address %}
                    # {{ host.comment }}
                    {
                        "hw-address": "{{ host.mac_address }}",
                        "ip-address": "{{ host.ip_address }}"
                    }{{ ", " if not loop.last else "" }}
{% endif %}
{% endfor %}
                ]
            }{{ ", " if not loop.last else "" }}
{% endfor %}
        ]
    }
}