stages:
- build
- deploy

workflow:
  rules:
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    variables:
      IMAGE_COMMIT: $CI_REGISTRY/$CI_PROJECT_PATH:$CI_COMMIT_SHA
      IMAGE_LATEST: $CI_REGISTRY/$CI_PROJECT_PATH:latest
  - variables:
      IMAGE_COMMIT: $CI_REGISTRY/$CI_PROJECT_PATH/$CI_COMMIT_BRANCH:$CI_COMMIT_SHA
      IMAGE_LATEST: $CI_REGISTRY/$CI_PROJECT_PATH/$CI_COMMIT_BRANCH:latest

variables:
  DOCKER_DRIVER: overlay2
  
image: docker:cli
  
build:
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY || true
  - docker build --cache-from $IMAGE_LATEST -t $IMAGE_COMMIT .
  - docker push $IMAGE_COMMIT

push:
  stage: deploy
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY || true
  - docker pull $IMAGE_COMMIT
  - docker tag $IMAGE_COMMIT $IMAGE_LATEST
  - docker push $IMAGE_LATEST
