stages:
- build
- deploy

workflow:
  rules:
  - if: $CI_COMMIT_TAG
    variables:
      IMAGE_BUILD: $CI_REGISTRY/$CI_PROJECT_PATH:$CI_COMMIT_SHA
      IMAGE_PUSH: $CI_REGISTRY/$CI_PROJECT_PATH:$CI_COMMIT_TAG
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    variables:
      IMAGE_BUILD: $CI_REGISTRY/$CI_PROJECT_PATH:$CI_COMMIT_SHA
      IMAGE_PUSH: $CI_REGISTRY/$CI_PROJECT_PATH:latest
  - variables:
      IMAGE_BUILD: $CI_REGISTRY/$CI_PROJECT_PATH/$CI_COMMIT_BRANCH:$CI_COMMIT_SHA
      IMAGE_PUSH: $CI_REGISTRY/$CI_PROJECT_PATH/$CI_COMMIT_BRANCH:latest

variables:
  DOCKER_DRIVER: overlay2

image: docker:cli

build:
  stage: build
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY || true
  - docker build --cache-from $IMAGE_PUSH -t $IMAGE_BUILD .
  - docker push $IMAGE_BUILD

push:
  stage: deploy
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY || true
  - docker pull $IMAGE_BUILD
  - docker tag $IMAGE_BUILD $IMAGE_PUSH
  - docker push $IMAGE_PUSH
