- name: Downloading list of ranges from FreenetIS API
  uri:
    url: "{{ freenetis_redirection_ranges_url }}"
    user: "{{ freenetis_user }}"
    password: "{{ freenetis_token }}"
  delegate_to: localhostd
  register: freenetis_redirection_ranges
  run_once: true
- name: Downloading list of allowed IP addresses from FreenetIS API
  uri:
    url: "{{ freenetis_redirection_allowed_url }}"
    user: "{{ freenetis_user }}"
    password: "{{ freenetis_token }}"
  delegate_to: localhost
  register: freenetis_redirection_allowed
  run_once: true
- name: Downloading list of self-cancel IP addresses from FreenetIS API
  uri:
    url: "{{ freenetis_redirection_cancelable_url }}"
    user: "{{ freenetis_user }}"
    password: "{{ freenetis_token }}"
  delegate_to: localhost
  register: freenetis_redirection_cancelable
  run_once: true
- name: Setting data from FreenetIS API responses
  set_fact:
    redirection_ranges: "{{ freenetis_redirection_ranges.json }}"
    redirection_allowed: "{{ freenetis_redirection_allowed.json }}"
    redirection_cancelable: "{{ freenetis_redirection_cancelable.json }}"
    redirection_url: "{{ freenetis_redirection_url }}"
