{% set names = {} %}
Circuit ID,Circuit Name,Device ID,Device Name,Parent Node,MAC,IPv4,IPv6,Download Min Mbps,Upload Min Mbps,Download Max Mbps,Upload Max Mbps,Comment
{% for id, class in qos_classes.items() %}
{% if not class.children|length %}
"{{ id }}","{{ class.name | unidecode }}",{{ id }},"{{ class.name | unidecode }}","{{ names[class.parent] }}",,"{{ class.ip_addresses|join(",") }}",,{{ (class.d_rate / 1048576) | round(0, 'ceil') | int }},{{ (class.u_rate / 1048576) | round(0, 'ceil') | int }},{{ (class.d_ceil / 1048576) | round(0, 'ceil') | int }},{{ (class.u_ceil / 1048576) | round(0, 'ceil') | int }},""
{% else %}
{% set tmp = names.update({id | int: class.name|unidecode }) %}
{% endif %}
{% endfor %}
