{
    "Dhcp6": {
        "valid-lifetime": 500,
        "renew-timer": 100,
        "rebind-timer": 250,
        "server-tag": "all",
        "interfaces-config": {
            "interfaces": [
{% for interface in dhcp6_interfaces %}
                "{{ interface }}"{{ ", " if not loop.last else "" }}
{% endfor %}
            ]
        },
        "expired-leases-processing": {
            "reclaim-timer-wait-time": 3,
            "flush-reclaimed-timer-wait-time": 0,
            "hold-reclaimed-time": 3600,
            "max-reclaim-leases": 100,
            "max-reclaim-time": 50,
            "unwarned-reclaim-cycles": 10
        },
        "host-reservation-identifiers": [
            "hw-address",
            "duid"
        ],
        "control-socket": {
            "socket-type": "unix",
            "socket-name": "{{ dhcp6_socket }}"
        },
        "hooks-libraries": [
{% for hook in dhcp6_hooks %}
        {
            "library": "{{ hook }}"
        }{{ ", " if not loop.last else "" }}
{% endfor %}
        ],
        "subnet6": [
{% for subnet in dhcp6_subnets %}
            # {{ subnet.name }}
            {
                "subnet": "{{ subnet.subnet }}",
                "id": {{ subnet.id }},
                "pools": [
{% for range in subnet.ranges %}
                    {
                        "pool": "{{ range.start }} - {{ range.end }}"
                    }{{ ", " if not loop.last else "" }}
{% endfor %}
                ],
                "option-data": [
                    {
                        "name": "dns-servers",
                        "data": "{{ subnet.dns_servers|join(",") }}"
                    }
                ],
                "reservations": [
{% for host in subnet.hosts %}
{% if host.mac_address %}
                    # {{ host.comment }}
                    {
                        "hw-address": "{{ host.mac_address }}",
{% if host.prefix is defined %}
                        "prefixes": ["{{ host.prefix }}"],
{% endif %}
                        "ip-addresses": ["{{ host.ip_address }}"]
                    }{{ ", " if not loop.last else "" }}
{% endif %}
{% endfor %}
                ]
            }{{ ", " if not loop.last else "" }}
{% endfor %}
        ]
    }
}
