---
- hosts: redirection
  name: Redirection
  gather_facts: false
  tasks:
    - name: FreeNetis Redirection
      include_role:
        name: redirection/freenetis
      when: freenetis is defined
    - name: Load HTTP
      include_role:
        name: "redirection/http/{{ http_provider }}"
      when: http_provider is defined
    - name: Load firewall
      include_role:
        name: "redirection/firewall/{{ firewall_provider }}"